<div class="container mb-5">
  <div class="d-grid">
    <div class="row">
      <div class="col-3">
        <img class="logo-img" src="assets/images/angular_wordmark_gradient.png" alt="">
      </div>
      <div class="col-3">
        <img class="logo-img" src="assets/images/Bootstrap_logo.svg.png" alt="">
      </div>
      <div class="col-3">
        <img class="logo-img" src="assets/images/Typescript_logo_2020.svg.png" alt="">
      </div>
      <div class="col-3">
        <img class="logo-img" src="assets/images/Top-Uses-Of-HTML.jpg" alt="">
      </div>
    </div>
  </div>
</div>